.headercolor
{
	background-color:rgba(167,232,255,0.24);
}
.navbarcolor
{
	background-color:black;
}

.masteroutline
{
	box-shadow:40px 40px 50px 20px black;	
	min-height: 900px;
	overflow: auto;
}

.searchform
{
	margin-top: 2px;
	margin-bottom: 2px;
}

.menufont
{
	font-weight: bold;
	font-style:Garamond;
}

.flash-message
{
	background-color:yellow;
}

.imageformat
{
	max-width: 125px;
	max-height: 125px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.formmargin
{
	margin:10px;
}

.controlmargin
{
	margin-left:10px;
	margin-right:10px;
}

.hrtable{

	width: 200px;
 	height: 400px;
 	overflow: auto;
}

