.headercolor
{
	background-color:rgba(167,232,255,0.24);
}
.navbarcolor
{
	background-color:black;
}

.masteroutline
{
	box-shadow:40px 40px 50px 20px black;	
	min-height: 900px;
}

.searchform
{
	margin-top: 2px;
	margin-bottom: 2px;
}

.menufont
{
	font-weight: bold;
	font-style:Garamond;
}

.flash-message
{
	background-color:yellow;
}